In [1]:
import numpy as np

In [3]:
''' Collatz Conjecture '''


n = 775 # 22 -> 11 -> 34 -> 17 -> 52 -> 26 -> 13 -> 40 -> 20 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 -> 1

''' 
    If n is divisible by 2 -> divide by 2
    Else -> Multiply by 3 and add 1
    
    Collatz Conjecture: This procedure always reaches 1 no matter the starting point

'''

steps = 0
while n != 1:    # Make sure you have a way to exit!
    steps += 1   # steps = steps + 1
    print(steps,n)
    if n % 2 == 0:
        n = int(n/2)
    else:
        n = 3*n+1

1 775
2 2326
3 1163
4 3490
5 1745
6 5236
7 2618
8 1309
9 3928
10 1964
11 982
12 491
13 1474
14 737
15 2212
16 1106
17 553
18 1660
19 830
20 415
21 1246
22 623
23 1870
24 935
25 2806
26 1403
27 4210
28 2105
29 6316
30 3158
31 1579
32 4738
33 2369
34 7108
35 3554
36 1777
37 5332
38 2666
39 1333
40 4000
41 2000
42 1000
43 500
44 250
45 125
46 376
47 188
48 94
49 47
50 142
51 71
52 214
53 107
54 322
55 161
56 484
57 242
58 121
59 364
60 182
61 91
62 274
63 137
64 412
65 206
66 103
67 310
68 155
69 466
70 233
71 700
72 350
73 175
74 526
75 263
76 790
77 395
78 1186
79 593
80 1780
81 890
82 445
83 1336
84 668
85 334
86 167
87 502
88 251
89 754
90 377
91 1132
92 566
93 283
94 850
95 425
96 1276
97 638
98 319
99 958
100 479
101 1438
102 719
103 2158
104 1079
105 3238
106 1619
107 4858
108 2429
109 7288
110 3644
111 1822
112 911
113 2734
114 1367
115 4102
116 2051
117 6154
118 3077
119 9232
120 4616
121 2308
122 1154
123 577
124 1732
125 866
126 433
127 1300
128 650
129 325
130 976
131 488
132 244
133 122
134 61
135 184
136 92
137 46
138 23
139 70
140 35
141 106
142 53
143 160
144 80
145 40
146 20
147 10
148 5
149 16
150 8
151 4
152 2

In [4]:
''' 
    Factorial Function 
    
    1! = 1 
    2! = 2.1
    3! = 3.2.1
    .
    .
    .

'''

n   = 12
fac = 1
for i in range(1,n+1):
    fac *= i   # fac = fac * i

In [12]:
n   = 12
fac = 1
while n > 1:
    fac *= n
    n    = (n-1)/2
    
# Operator binding: /,*,+,-

# n = 12 
# n = 11.5
# n = 11

In [13]:
fac

148.5